.card {
  height: 15em;
  display: flex;
  flex-flow: column nowrap;
  border: 2px solid white;
  box-sizing: border-box;
  cursor: pointer;
}
.card:hover {
  border: 2px solid rgb(104, 104, 213);
}
.card h2,
.card .priceWrapper,
.card .speedInfo,
.card .trafficInfo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.card h2 {
  margin: 0;
  padding: 0.5em 0;
  font-size: 1.2em;
  border-bottom: 2px solid white;
  text-align: center;
}
.card .priceWrapper {
  flex-grow: 1;
  display: flex;
  align-items: center;
}
.card .priceWrapper .priceDisplay {
  display: flex;
  height: 2.5em;
}
.card .priceWrapper .priceDisplay .top,
.card .priceWrapper .priceDisplay .bottom {
  font-size: 0.8em;
}
.card .priceWrapper .priceDisplay .top {
  padding-right: 0.2em;
  align-self: start;
}
.card .priceWrapper .priceDisplay .price {
  align-self: center;
  font-size: 2em;
}
.card .priceWrapper .priceDisplay .bottom {
  align-self: end;
}
.card h2,
.card .priceWrapper {
  color: white;
}
.card .speedInfo {
  background-color: rgb(247, 247, 247);
}
.card .trafficInfo {
  text-align: center;
  background-color: rgb(238, 237, 237);
}
.card .speedInfo,
.card .trafficInfo {
  margin: 0;
  padding: 0.8em;
  font-size: 0.7em;
}
.card:first-child h2 {
  background-color: #2cb3cb;
}
.card:first-child div {
  background-color: rgb(101, 204, 222);
}
.card:nth-child(2) h2 {
  background-color: #31835b;
}
.card:nth-child(2) div {
  background-color: rgb(71, 186, 129);
}
.card:nth-child(3) h2 {
  background-color: #952222;
}
.card:nth-child(3) div {
  background-color: rgb(208, 52, 52);
}
.card:last-child h2 {
  background-color: #2d2d2d;
}
.card:last-child div {
  background-color: rgb(83, 83, 83);
}

.highlighted {
  height: 15.8em;
}